<div class="w-full h-16 rounded-md flex items-center" style="border-width: 2px;" [ngClass]="{'bg-c-beige-100 text-c-orange-100 border-c-orange-100': !rla.isActive, 'bg-c-orange-100 text-c-beige-100 border-c-beige-100': rla.isActive}">
  <a [routerLink]="route" routerLinkActive="active" #rla="routerLinkActive" class="flex items-center h-full w-full px-3 gap-2" [ngClass]="{'justify-center': isCollapsed, 'justify-start': !isCollapsed}">
    <div  class="flex items-center gap-2">
		<div [ngClass]="{'flex justify-center w-100': isCollapsed}">
			<i class="pi text-lg flex justify-center" [ngClass]="icon"></i>
		</div>
		<span *ngIf="!isCollapsed" class="text-lg" [ngClass]="{'underline': rla.isActive}">{{ name }}</span>
	</div>
    <i class="pi pi-arrow-right text-lg" *ngIf="rla.isActive && !isCollapsed"></i>
  </a>
</div>