<div class="p-4 w-full min-h-screen h-full bg-white">
	<p-divider></p-divider>
	<div class="w-full flex align-center mb-8">
		<div *ngFor="let tab of statuses" class="tab w-full flex items-center cursor-pointer" (click)="changeTab(tab.n)">
			<div class="flex items-center gap-2 w-full justify-center flex-col">
				<div class="flex justify-center items-center gap-1">
					<i [class]="tab.icon" [ngClass]="['text-' + tab.color]"></i>
					<span>{{ tab.text }}</span>
					<span *ngIf="tab.hasChanges" class="badge bg-red-500 text-white rounded-full animate-ping px-1 py-1 w-1 h-1"></span>
				</div>
				@if (selectedOrder() === tab.n) {
					<div class="w-full rounded-full h-2 bg-c-orange-100"></div>
				}
			</div>
		</div>
	</div>
	<div class="w-full rounded-full h-2 bg-c-beige-100 mb-4"></div>
	<div *ngFor="let tab of statuses;">
		<div *ngIf="selectedOrder() === tab.n">
			<app-orders [orders]="filteredOrders()" [orderStatus]="selectedOrder()"></app-orders>
		</div>
	</div>
</div>
<button (click)="openTimeModal()" type="button" class="fixed bottom-6 right-6 size-16 bg-c-beige-100 rounded-full flex justify-center items-center p-3 shadow-lg">
	<svg class="fill-c-orange-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120l0 136c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2 280 120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/></svg>
</button>

<app-estimated-time-dialog *ngIf="showTimeModal()" (close)="closeTimeModal()"></app-estimated-time-dialog>