<div>
	<label id="listbox-label" class="block text-sm/6 font-medium text-gray-800">¿Cuál acción requerida se ajusta más al problema?</label>
	<div class="relative mt-2">
		<button
			type="button"
			class="grid w-full cursor-default grid-cols-1 rounded-lg shadow-lg bg-white p-2.5 text-left text-gray-800 text-sm border-2 border-gray-200 focus:outline-none focus:border-orange-600 focus:fill-orange-600"
			[ngClass]="{'border-orange-600': selectedOption}"
			[attr.aria-expanded]="isDropdownOpen"
			(click)="toggleDropdown()"
		>
			<span class="col-start-1 row-start-1 flex items-start gap-3 pr-6">
				<ng-container *ngIf="selectedOption; else defaultText">
					<span class="block truncate">{{ selectedOption.name }}</span>
				</ng-container>
				<ng-template #defaultText>
					<span class="block truncate text-gray-400">Selecciona tu preferencia:</span>
				</ng-template>
			</span>
			<svg class="col-start-1 row-start-1 size-5 self-center justify-self-end text-gray-500 sm:size-4" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
				<path fill-rule="evenodd" d="M5.22 10.22a.75.75 0 0 1 1.06 0L8 11.94l1.72-1.72a.75.75 0 1 1 1.06 1.06l-2.25 2.25a.75.75 0 0 1-1.06 0l-2.25-2.25a.75.75 0 0 1 0-1.06ZM10.78 5.78a.75.75 0 0 1-1.06 0L8 4.06 6.28 5.78a.75.75 0 0 1-1.06-1.06l2.25-2.25a.75.75 0 0 1 1.06 0l2.25 2.25a.75.75 0 0 1 0 1.06Z" clip-rule="evenodd"/>
			</svg>
		</button>
		<ul class="absolute z-50 mt-1 max-h-56 w-full overflow-visible rounded-md bg-white py-1 shadow-lg ring-1 ring-black/5 focus:outline-none text-sm" *ngIf="isDropdownOpen">
			<li class="relative cursor-default select-none py-2 pl-3 pr-32 text-gray-800" *ngFor="let option of options; let i = index" [id]="'listbox-option-' + i" (click)="selectOption(option)">
				<div class="flex items-center">
					<span class="block truncate font-normal" [ngClass]="{'text-orange-600 nunito-extra-bold': selectedOption === option}">{{ option.name }}</span>
				</div>
				<span *ngIf="selectedOption === option" class="absolute inset-y-0 right-0 flex items-center pr-4">
					<span class="inline-flex items-center rounded-md bg-orange-100 px-2 py-1 text-xs font-medium text-orange-400 ring-1 ring-inset ring-red-600/10">Seleccionado</span>
				</span>
			</li>
		</ul>
	</div>
</div>
