<div class="custom-dialog w-full py-4 h-full nunito-regular flex flex-col justify-between">
	<form class="p-fluid flex flex-col gap-5" [formGroup]="productForm">
		<div class="flex gap-8 justify-between w-full">
			<div class="p-field grid-cols-9 flex flex-col w-1/2">
				<label for="productName">Nombre</label>
				<input id="productName" type="text" pInputText formControlName="name" [style]="{'border-width': '1px'}" class="border-c-gray-100 rounded-md py-2 px-1 focus:border-orange-500 focus:shadow-md focus:shadow-orange-300 focus:outline-none focus:ring-0 outline-none"/>
				<div *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched" class="p-error">
					{{getErrorMessage('name')}}
				</div>
			</div>
			<div class="p-field grid-cols-3 flex w-1/4 gap-2 items-center justify-center">
				<p-inputSwitch formControlName="available" class="h-full flex items-center"></p-inputSwitch>
				<label for="productAvailable" class="flex w-auto text-center h-full text-nowrap items-center"><span class="text-center flex items-center text-nowrap text text-sm">{{ productForm.get('available')?.getRawValue() ? 'Disponible' : 'No Disponible' }}</span></label>
			</div>
		</div>

		<div class="p-field flex flex-col">
			<label for="productDescription">Descripción</label>
			<textarea id="productDescription" pInputTextarea formControlName="description" [style]="{'border-width': '1px'}" class="border-c-gray-100 rounded-md py-2 px-1 focus:border-orange-500 focus:shadow-md focus:shadow-orange-300 focus:outline-none focus:ring-0 outline-none"></textarea>
			<div *ngIf="productForm.get('description')?.invalid && productForm.get('description')?.touched" class="p-error">
				{{ getErrorMessage('description') }}
			</div>
		</div>
		<div class="p-field flex flex-col">
			<label for="productPrice">Precio</label>
			<p-inputNumber inputId="productPrice" formControlName="price" mode="currency" [allowEmpty]="false" format="true" currency="MXN" currencyDisplay="symbol" [inputStyle]="{'border-width': '1px'}" inputStyleClass="border-c-gray-100 rounded-md py-2 px-1 focus:border-orange-500 focus:shadow-md focus:shadow-orange-300 focus:outline-none focus:ring-0 outline-none" [locale]="'en-US'"></p-inputNumber>
			<div *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched" class="p-error">
				{{ getErrorMessage('price') }}
			</div>
		</div>
		<div class="p-field flex flex-col">
			<label for="productCategory">Categoría</label>
			<p-dropdown [options]="categories" emptyFilterMessage="No hay categorias que coincidan" emptyMessage="No hay categorias" formControlName="category" [style]="{'border-width': '1px'}" styleClass="border-c-gray-100 rounded-md focus:border-orange-500 focus:shadow-md focus:shadow-orange-300 focus:outline-none focus:ring-0 outline-none"></p-dropdown>
			<div *ngIf="productForm.get('category')?.invalid && productForm.get('category')?.touched" class="p-error">
				{{ getErrorMessage('category') }}
			</div>
		</div>
		<div class="p-field flex flex-col">
			<label for="productImage">Imagen</label>
			<p-fileUpload mode="basic" accept="image/*" maxFileSize="1000000" customUpload="true" (uploadHandler)="uploadImage($event)" chooseLabel="Seleccionar" uploadLabel="Subir" cancelLabel="Cancelar"></p-fileUpload>
			<img *ngIf="imagePreview" [src]="imagePreview" alt="Product Image" class="w-32 mt-2 rounded-xl">
			<div *ngIf="!imagePreview" class="w-32 mt-2 rounded-xl bg-gray-200 flex items-center justify-center h-32">
				<span class="text-gray-500">No Image</span>
			</div>
		</div>

	</form>
	<div class="ui-dialog-footer">
		<div class="flex justify-end gap-4 mt-4 mb-3">
			<button class="bg-red-500 text-white px-4 py-2 rounded-md" (click)="closeModal()">Cancelar</button>
			<button class="bg-green-500 text-white px-4 py-2 rounded-md" (click)="saveProduct()">Guardar</button>
		</div>
	</div>
</div>
